<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Controlador.Properties.Settings.puntoventaConnectionString"
            connectionString="Data Source=.;Initial Catalog=puntoventa;Persist Security Info=True;User ID=sa;Password=prointernet"
            providerName="System.Data.SqlClient" />
        <add name="Controlador.Properties.Settings.puntodeventaConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\puntodeventa.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>